In [3]:
#Import the required libraries
import pandas as pd # to read the data frame

In [9]:
#copy path here of the file and change the backward slash to forward slash
df = pd.read_csv("C:/Users/User/Downloads/archive (8)/Advertising.csv", index_col = 0)

In [10]:
# view top 5, dont forget the parantheses. This helps you to see the data
df.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [14]:
#view data size
df.size

800

In [16]:
#view the shape of the data
df.shape

(200, 4)

In [18]:
# View the columns
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [21]:
#Make a list of the independent variables
X = df[['TV','Radio','Newspaper']]
X.head(10) # view the first 10 rows, pass parameter of the value 10

       TV  Radio  Newspaper
1   230.1   37.8       69.2
2    44.5   39.3       45.1
3    17.2   45.9       69.3
4   151.5   41.3       58.5
5   180.8   10.8       58.4
6     8.7   48.9       75.0
7    57.5   32.8       23.5
8   120.2   19.6       11.6
9     8.6    2.1        1.0
10  199.8    2.6       21.2

In [25]:
#Dependent variable 
Y = df[['Sales']]
Y.head(5) # View first 5 outcomes

   Sales
1   22.1
2   10.4
3    9.3
4   18.5
5   12.9

In [26]:
# view shape of the Sales
Y.shape

(200, 1)

In [28]:
#Split test and training data
# By default 75% training data and 25 % testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(X, Y, random_state = 1)

In [33]:
#view shape of train and test data sets for X- feature and Y- response
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(150, 3)
(150, 1)
(50, 3)
(50, 1)

In [36]:
#Linear Regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [39]:
#Print intercept and coefficient
print('Linear Regression Intercept:')
print(linreg.intercept_)
print('Linear Regression Coefficient:')
print(linreg.coef_)

Linear Regression Intercept:
[2.87696662]
Linear Regression Coefficient:
[[0.04656457 0.17915812 0.00345046]]

In [45]:
#predict sales
y_pred = linreg.predict(x_test)
y_pred

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

In [48]:
#Import required libraires for calculating MSE (Mean Square error)
from sklearn import metrics
import numpy as np

In [49]:
metrics.mean_squared_error(y_test,y_pred)
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.4046514230328953